# Data

In [1]:
# Data manipulation libs #
import numpy as np
import pandas as pd

In [2]:
# visulization libs #
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
stack_overflow_18 = pd.read_csv("survey_results_public.csv")
stack_overflow_18.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [4]:
# List of columns we are interested in for salary analysis #
salaries_cols = ["Country","Student","Employment","FormalEducation","UndergradMajor","CompanySize","DevType","YearsCoding","YearsCodingProf","EducationTypes","SelfTaughtTypes","LanguageWorkedWith","Salary","LanguageDesireNextYear","FrameworkWorkedWith","FrameworkDesireNextYear","OperatingSystem","Age","ConvertedSalary"]

In [5]:
salaries = stack_overflow_18[salaries_cols]
salaries.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS,NaN,JavaScript;Python;HTML;CSS,Django;React,Django;React,Linux-based,25 - 34 years old,NaN
1,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;Bash/Shell,51000,Go;Python,Django,React,Linux-based,35 - 44 years old,70841.0
2,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,12-14 years,Completed an industry certification program (e...,The official documentation and/or standards fo...,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,Angular;.NET Core;React,Windows,35 - 44 years old,NaN
4,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,0-2 years,Taken a part-time in-person course in programm...,The official documentation and/or standards fo...,C;C++;Java;Matlab;R;SQL;Bash/Shell,260000,Assembly;C;C++;Matlab;SQL;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,21426.0

In [6]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98855 entries, 0 to 98854
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  98443 non-null  object
 1   Student                  94901 non-null  object
 2   Employment               95321 non-null  object
 3   FormalEducation          94703 non-null  object
 4   UndergradMajor           79036 non-null  object
 5   CompanySize              71531 non-null  object
 6   DevType                  92098 non-null  object
 7   YearsCoding              93835 non-null  object
 8   YearsCodingProf          77903 non-null  object
 9   EducationTypes           67960 non-null  object
 10  SelfTaughtTypes          57354 non-null  object
 11  LanguageWorkedWith       78334 non-null  object
 12  Salary                   50578 non-null  object
 13  LanguageDesireNextYear   73244 non-null  object
 14  FrameworkWorkedWith      51620 non-null  object
 15  FrameworkDesireNextYear  55218 non-null  object
 16  OperatingSystem          76179 non-null  object
 17  Age                      64574 non-null  object
 18  ConvertedSalary          47702 non-null  float64
dtypes: float64(1), object(18)
memory usage: 14.3+ MB

In [7]:
salaries.loc[0:15,:]

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,3-5 years,3-5 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS,NaN,JavaScript;Python;HTML;CSS,Django;React,Django;React,Linux-based,25 - 34 years old,NaN
1,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,30 or more years,18-20 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,JavaScript;Python;Bash/Shell,51000,Go;Python,Django,React,Linux-based,35 - 44 years old,70841.0
2,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,24-26 years,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,18-20 years,12-14 years,Completed an industry certification program (e...,The official documentation and/or standards fo...,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,NaN,Angular;.NET Core;React,Windows,35 - 44 years old,NaN
4,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,6-8 years,0-2 years,Taken a part-time in-person course in programm...,The official documentation and/or standards fo...,C;C++;Java;Matlab;R;SQL;Bash/Shell,260000,Assembly;C;C++;Matlab;SQL;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,21426.0
5,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,6-8 years,3-5 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,Java;JavaScript;Python;TypeScript;HTML;CSS,30000,C#;Go;Java;JavaScript;Python;SQL;TypeScript;HT...,Angular;Node.js,Node.js,Linux-based,18 - 24 years old,41671.0
6,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,9-11 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,JavaScript;HTML;CSS,120000,C;Go;JavaScript;Python;HTML;CSS,Node.js;React,React;TensorFlow,MacOS,18 - 24 years old,120000.0
7,Nigeria,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,0-2 years,3-5 years,Taken an online course in programming or softw...,NaN,JavaScript;TypeScript;HTML;CSS,NaN,Matlab;SQL;Kotlin;Bash/Shell,Angular;Node.js,.NET Core;Django,Windows,25 - 34 years old,NaN
8,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",30 or more years,21-23 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...,250000,Erlang;Go;Python;Rust;SQL,Hadoop;Node.js;React;Spark,NaN,MacOS,35 - 44 years old,250000.0
9,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Spain,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,6-8 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",100 to 499 employees,Back-end developer;Front-end developer;Full-st...,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Croatia,NaN,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",20 to 99 employees,Back-end developer;Front-end developer,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",20 to 99 employees,Back-end developer;Full-stack developer,3-5 years,3-5 years,NaN,NaN,Java,NaN,Java;Python,Spring,Hadoop;Spark;Spring,Linux-based,NaN,NaN
14,Netherlands,"Yes, full-time",Employed full-time,"Secondary school (e.g. American high school, G...",NaN,20 to 99 employees,Back-end developer;Front-end developer;Student,0-2 years,0-2 years,Received on-the-job training in software devel...,NaN,Java;JavaScript;PHP;VB.NET;HTML;CSS,0,NaN,NaN,NaN,Windows,18 - 24 years old,0.0
15,Israel,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Fine arts or performing arts (ex. graphic desi...,"5,000 to 9,999 employees",Full-stack developer,3-5 years,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# entries for test set #
test_rand = np.random.randint(0,98854,200)
test_rand

array([ 3044, 80440,  6206, 92942, 82217, 32168, 79618, 47554, 54183,
       19291, 50278, 80015, 37223, 11623, 77702, 57785, 58025, 57574,
       65023, 74713, 57996, 67000, 25088, 62337, 23899, 77563, 91949,
        7331, 46083, 61568, 86764, 24801, 63589, 90007, 96838, 44636,
       51200, 91870, 46096, 14207, 84541, 85553, 33699, 74868, 21594,
       61449, 39191, 95875,  6332, 67455, 11219, 97147, 63632, 89054,
       33532, 80722, 21074, 86098, 83107,  2407, 53856, 83151, 41436,
       30500, 58931, 36328, 39705, 89285, 10595,  2924, 21427, 98738,
       24978, 36779, 40687, 37374, 37168, 44122, 29886,  1063, 64900,
       56728, 73128, 85338, 25134, 17990, 29779, 90982, 80584, 21562,
       27293, 46007, 35764, 12519, 75312, 98486, 75938, 41538, 10217,
       13207, 79467, 41652, 23409, 45409, 91125, 42510, 53414, 41492,
       45219, 14545, 29017, 45428, 46942, 45401, 81569, 62018, 13951,
       49193, 61170, 93933, 94846, 26272,  7823, 49724, 41248, 38953,
       65965, 51104, 98254, 90354, 22708, 10667, 46002, 73547, 90976,
       63431, 35516,  3190, 15893, 84249, 61748, 24279, 23545, 18940,
       96424, 96714, 81802,   113, 13940, 39717, 90525, 50255, 69009,
       55468, 50464, 33886,  7327, 40942, 48012, 79852, 66475, 59551,
       18687, 32929, 55892, 83268, 87411, 88226, 35741, 86444, 25371,
       36615, 37898,  3679, 36640, 24285, 21333, 56757, 67390,  4710,
       32509, 87408, 61841, 45216, 19143, 30068, 68410,  8491,  2836,
       63811, 89395, 15121, 10928, 61967, 88415, 80762,    89,  4593,
       40545, 53034])

In [12]:
# entries for train set #
train_rand = np.random.randint(0,98854,200)
train_rand

array([17522, 83134,   858, 53284, 37884, 55404, 84157, 47986, 12790,
       23858, 74174, 73799, 73221, 51125, 36660,  2892, 85790, 12382,
       83540, 45040, 88759, 10240, 49932, 55602, 43215, 79633, 40143,
       17485, 90487, 50202, 12068, 62510, 81275, 11215, 60681, 59726,
       10445, 56746, 94719, 66426,   148, 45875, 37998, 84805, 10275,
        6992, 27870, 19630,  7715, 45549, 60042, 23568, 59866,  3374,
       75750, 83779, 74791, 90391, 92415, 77372, 72822,  3773, 91360,
       82394, 26658, 51201, 89600, 63878, 23963, 80245, 48200, 85722,
       41987, 30727, 51232, 61086, 69181,   483,  3220, 98566, 78943,
       83356, 32153, 76857, 30114, 70861,  4957, 64583,  4290, 79449,
       48565, 75356, 89483, 50280, 14320, 97961, 15270, 83373, 65673,
       67297, 40468, 12796, 58619, 63346, 27650, 35568, 29819, 94539,
       34856, 55352, 13480, 47656, 22564, 58819, 92735, 89204, 80122,
       67133, 41601, 11409, 52292, 47831, 40457, 36993, 85237, 88633,
       58796, 45024, 26981, 24807, 62686, 93561, 70719, 86294, 96797,
       30850,  9307, 69938,  6983, 73361,   241, 12634,   708,  8821,
       74961, 14333, 54481, 35135, 80483, 82638, 36441, 51101, 16930,
       71255, 17218, 49159, 94604, 63938, 93395, 16961,  5955, 64712,
       75921, 95055,  4833, 28239, 35892, 54247, 95948, 35426, 61066,
       52238, 91167, 28864, 72885, 84640, 85062, 25496, 41475, 48798,
       33077, 24145, 66276, 85191, 91460, 91196, 89245, 61680, 69398,
       88937, 67003, 52382, 32023,  4646, 80790, 66972, 76366, 69745,
         634, 87040])

In [13]:
train_rand/test_rand

array([5.75624179e+00, 1.03349080e+00, 1.38253303e-01, 5.73303781e-01,
       4.60780617e-01, 1.72233275e+00, 1.05700972e+00, 1.00908441e+00,
       2.36051898e-01, 1.23674252e+00, 1.47527746e+00, 9.22314566e-01,
       1.96709024e+00, 4.39860621e+00, 4.71802528e-01, 5.00475902e-02,
       1.47850065e+00, 2.15062355e-01, 1.28477616e+00, 6.02840202e-01,
       1.53043313e+00, 1.52835821e-01, 1.99027423e+00, 8.91958227e-01,
       1.80823465e+00, 1.02668798e+00, 4.36578973e-01, 2.38507707e+00,
       1.96356574e+00, 8.15391112e-01, 1.39089945e-01, 2.52046288e+00,
       1.27812987e+00, 1.24601420e-01, 6.26623846e-01, 1.33806793e+00,
       2.04003906e-01, 6.17677152e-01, 2.05482037e+00, 4.67558246e+00,
       1.75062987e-03, 5.36217316e-01, 1.12757055e+00, 1.13272693e+00,
       4.75826619e-01, 1.13785416e-01, 7.11132658e-01, 2.04745763e-01,
       1.21841440e+00, 6.75250167e-01, 5.35181389e+00, 2.42601418e-01,
       9.40815942e-01, 3.78871247e-02, 2.25903614e+00, 1.03787072e+00,
       3.54897030e+00, 1.04986179e+00, 1.11200019e+00, 3.21445783e+01,
       1.35216132e+00, 4.53752811e-02, 2.20484603e+00, 2.70144262e+00,
       4.52359539e-01, 1.40940872e+00, 2.25664274e+00, 7.15439324e-01,
       2.26172723e+00, 2.74435705e+01, 2.24949830e+00, 8.68176386e-01,
       1.68095924e+00, 8.35449577e-01, 1.25917369e+00, 1.63445176e+00,
       1.86130542e+00, 1.09469199e-02, 1.07742756e-01, 9.27243650e+01,
       1.21637904e+00, 1.46939783e+00, 4.39681107e-01, 9.00618716e-01,
       1.19813798e+00, 3.93891051e+00, 1.66459586e-01, 7.09843705e-01,
       5.32363745e-02, 3.68467675e+00, 1.77939398e+00, 1.63792466e+00,
       2.50204116e+00, 4.01629523e+00, 1.90142341e-01, 9.94669293e-01,
       2.01085096e-01, 2.00715008e+00, 6.42781638e+00, 5.09555539e+00,
       5.09242830e-01, 3.07212139e-01, 2.50412235e+00, 1.39500980e+00,
       3.03429355e-01, 8.36697248e-01, 5.58261879e-01, 2.27848742e+00,
       7.70826423e-01, 3.80556892e+00, 4.64555261e-01, 1.04904464e+00,
       4.80678284e-01, 1.29554415e+00, 1.13689024e+00, 1.43835661e+00,
       5.74310085e+00, 1.36468603e+00, 6.80088279e-01, 1.21458912e-01,
       5.51335850e-01, 1.82060749e+00, 5.17154544e+00, 7.43966696e-01,
       2.06645171e+00, 2.27538315e+00, 8.91321155e-01, 8.81026925e-01,
       2.74604596e-01, 2.74553423e-01, 2.76052493e+00, 8.77106965e+00,
       1.53730273e+00, 1.17331774e+00, 1.06398391e+00, 4.86355252e-01,
       2.62050907e-01, 2.19241379e+01, 4.39375826e-01, 8.70764045e-01,
       3.90296042e-03, 5.20367396e-01, 3.00700786e-02, 4.65733897e-01,
       7.77410188e-01, 1.48199847e-01, 6.66010611e-01, 3.10929204e+02,
       5.77352941e+00, 2.08067075e+00, 4.02551781e-01, 1.01683415e+00,
       2.45330319e-01, 1.28461455e+00, 3.41193722e-01, 1.45071711e+00,
       1.29116965e+01, 1.56167261e+00, 1.94524286e+00, 2.12405450e-01,
       8.95825498e-02, 1.08666521e+00, 4.06277091e+00, 2.88666525e+00,
       8.64703356e-02, 3.39133881e-01, 4.10611937e-01, 6.14864099e-01,
       2.68453597e+00, 4.09814446e-01, 2.40692129e+00, 1.42668305e+00,
       2.40558869e+00, 7.84561022e+00, 1.98921943e+00, 3.48527898e+00,
       3.98734355e+00, 4.49213313e-01, 6.15447396e-01, 1.03605096e+01,
       1.01747208e+00, 2.76233297e-01, 1.07171618e+00, 1.88408970e+00,
       4.77772554e+00, 3.03299189e+00, 1.30456074e+00, 7.26416205e+00,
       2.44703808e+01, 1.39375656e+00, 7.49516192e-01, 3.46418888e+00,
       2.93036237e+00, 7.49753901e-02, 9.13758978e-01, 8.29251381e-01,
       8.58044944e+02, 1.51850642e+01, 1.56369466e-02, 1.64121130e+00])

In [14]:
salaries_test = salaries.loc[test_rand,:]
salaries_test.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
3044,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,"10,000 or more employees",Back-end developer;Front-end developer;Full-st...,9-11 years,6-8 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Groovy;Java;JavaScript;SQL;TypeScript;HTML;CSS,NaN,Go;R;SQL;TypeScript;HTML;CSS,Angular;Node.js;Spring,Angular;Node.js;React;TensorFlow,Windows,25 - 34 years old,NaN
80440,Australia,No,"Independent contractor, freelancer, or self-em...","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Database administrator;Desk...,30 or more years,27-29 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C#;JavaScript;R;SQL;VB.NET;HTML;CSS,80000,C;C#;R;SQL;VB.NET,NaN,NaN,Windows,45 - 54 years old,63979.0
6206,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;QA or test developer,3-5 years,0-2 years,Taken a part-time in-person course in programm...,NaN,C;C++;C#;Groovy;Java;JavaScript;SQL;HTML;CSS,360000,Perl;R;Scala;Kotlin,.NET Core;Spring,Hadoop;Spark;Xamarin,Windows,18 - 24 years old,67632.0
92942,France,"Yes, full-time","Independent contractor, freelancer, or self-em...","Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",NaN,Back-end developer;Mobile developer;Student,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82217,United States,No,"Not employed, but looking for work","Secondary school (e.g. American high school, G...",NaN,NaN,Back-end developer;Database administrator;Desi...,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/Shell,0,C;C++;C#;Go;Java;JavaScript;Perl;PHP;Python;Ru...,Angular;Node.js;React,Angular;.NET Core;React,NaN,Under 18 years old,0.0

In [15]:
salaries_train = salaries.loc[train_rand,:]
salaries_train.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [16]:
# saving the dataframe #
salaries_test.to_csv('salaries_test.csv')
salaries_train.to_csv('salaries_train.csv')

In [ ]:
# uploading train dataframe #
# salaries_train = pd.read_csv("salaries_train.csv")

In [17]:
salaries_train.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [18]:
salaries_train.reset_index(inplace=True)

In [19]:
salaries_train.head()

,index,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,17522,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,83134,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,858,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,53284,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,37884,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [23]:
# Remove index col #
salaries_train.drop(["index"],axis=1,inplace=True)

In [24]:
salaries_train.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,Greece,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,Nepal,"Yes, full-time","Not employed, but looking for work","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,Bangladesh,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,India,"Yes, full-time",Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Fewer than 10 employees,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,Czech Republic,No,Employed part-time,Primary/elementary school,NaN,100 to 499 employees,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

**Dealing with Country col**

In [29]:
salaries_train.columns

Index(['Country', 'Student', 'Employment', 'FormalEducation', 'UndergradMajor',
       'CompanySize', 'DevType', 'YearsCoding', 'YearsCodingProf',
       'EducationTypes', 'SelfTaughtTypes', 'LanguageWorkedWith', 'Salary',
       'LanguageDesireNextYear', 'FrameworkWorkedWith',
       'FrameworkDesireNextYear', 'OperatingSystem', 'Age', 'ConvertedSalary'],
      dtype='object')

In [27]:
salaries_train["Country"].unique()

array(['Greece', 'Nepal', 'Bangladesh', 'India', 'Czech Republic',
       'Austria', 'Pakistan', 'United States', 'Germany', 'Australia',
       'United Kingdom', 'Brazil', 'Bolivia', 'Indonesia', 'Switzerland',
       'Poland', 'Sri Lanka', 'Canada', 'Sweden', 'Belarus', 'Bulgaria',
       'Spain', 'France', 'Netherlands', 'Ghana', 'Russian Federation',
       'Denmark', 'Mexico', 'Uruguay', 'Cuba', 'Luxembourg', 'Egypt',
       'Italy', 'Hungary', 'Malaysia', 'Kuwait', 'Viet Nam', 'Turkey',
       'Iran, Islamic Republic of...', 'Ireland', 'Colombia', 'Serbia',
       'Jordan', 'Ukraine', 'Slovenia', 'Philippines', 'Portugal',
       'Argentina', 'South Africa', 'Finland', 'Belgium', 'Iceland',
       'Singapore', 'New Zealand', 'Romania', 'China'], dtype=object)

In [28]:
len(salaries_train["Country"].unique())

56

**Dealing with the student col**

In [30]:
salaries_train["Student"].unique()

array(['No', 'Yes, full-time', 'Yes, part-time', nan], dtype=object)

replacing:
- "Yes, full-time" --> "Yes"
- "Yes, part-time" --> "Yes"
- "nan" --> "No

In [34]:
salaries_train["Student"].replace("Yes, full-time","Yes",inplace=True)
salaries_train["Student"].replace("Yes, part-time","Yes",inplace=True)
salaries_train["Student"].replace(np.nan,"No",inplace=True)

In [35]:
# Show the distinct col values #
salaries_train["Student"].unique()

array(['No', 'Yes'], dtype=object)

**Dealing with the Employment col**

In [37]:
salaries_train["Employment"].unique()

array(['Employed full-time', 'Not employed, but looking for work',
       'Employed part-time', 'Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed', nan],
      dtype=object)

replace
- 'Employed full-time' --> Employed
- 'Employed part-time' --> Employed
- 'Independent contractor, freelancer, or self-employed' --> Employed
- 'Not employed, but looking for work' --> Not_employed
- 'Not employed, and not looking for work' --> Not_employed
- nan --> Not_employed

In [42]:
salaries_train["Employment"].replace(['Employed full-time','Employed part-time','Independent contractor, freelancer, or self-employed'],"Employed",inplace=True)
salaries_train["Employment"].replace(['Not employed, but looking for work','Not employed, and not looking for work',np.nan],"Not_employed",inplace=True)

In [43]:
salaries_train["Employment"].unique()

array(['Employed', 'Not_employed'], dtype=object)

**Dealing with the FormalEducation col**

In [47]:
salaries_train["FormalEducation"].unique()

array(['Bachelor’s degree (BA, BS, B.Eng., etc.)',
       'Master’s degree (MA, MS, M.Eng., MBA, etc.)',
       'Primary/elementary school',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
       nan, 'Some college/university study without earning a degree',
       'Associate degree', 'Professional degree (JD, MD, etc.)',
       'Other doctoral degree (Ph.D, Ed.D., etc.)'], dtype=object)

we categorize the education into level:
- High --> 'Master’s degree (MA, MS, M.Eng., MBA, etc.)','Other doctoral degree (Ph.D, Ed.D., etc.)'
- Medium --> 'Bachelor’s degree (BA, BS, B.Eng., etc.)','Some college/university study without earning a degree','Associate degree', 'Professional degree (JD, MD, etc.)'
- low --> 'Primary/elementary school','Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',nan

In [49]:
salaries_train["FormalEducation"].replace(['Master’s degree (MA, MS, M.Eng., MBA, etc.)','Other doctoral degree (Ph.D, Ed.D., etc.)'],"High",inplace=True)
salaries_train["FormalEducation"].replace(['Bachelor’s degree (BA, BS, B.Eng., etc.)','Some college/university study without earning a degree','Associate degree', 'Professional degree (JD, MD, etc.)'],"Medium",inplace=True)
salaries_train["FormalEducation"].replace(['Primary/elementary school','Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',np.nan],"Low",inplace=True)

In [50]:
salaries_train["FormalEducation"].unique()

array(['Medium', 'High', 'Low'], dtype=object)

**Dealing with UndergradMajor col**

In [54]:
salaries_train["UndergradMajor"].unique()

array(['Computer science, computer engineering, or software engineering',
       'Web development or web design', nan,
       'Information systems, information technology, or system administration',
       'Another engineering discipline (ex. civil, electrical, mechanical)',
       'A natural science (ex. biology, chemistry, physics)',
       'A business discipline (ex. accounting, finance, marketing)',
       'A health science (ex. nursing, pharmacy, radiology)',
       'Mathematics or statistics',
       'A humanities discipline (ex. literature, history, philosophy)',
       'I never declared a major',
       'A social science (ex. anthropology, psychology, political science)'],
      dtype=object)

In [ ]:
# Might drop this col later #

**Dealing with CompanySize col**

In [56]:
salaries_train[["Employment","CompanySize"]]

       Employment              CompanySize
0        Employed  Fewer than 10 employees
1    Not_employed                      NaN
2        Employed       10 to 19 employees
3        Employed  Fewer than 10 employees
4        Employed     100 to 499 employees
..            ...                      ...
195      Employed     100 to 499 employees
196      Employed                      NaN
197      Employed       20 to 99 employees
198      Employed     100 to 499 employees
199  Not_employed                      NaN

[200 rows x 2 columns]

In [58]:
salaries_train[salaries_train["Employment"] == "Not_employed"]

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
1,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
6,Pakistan,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Taken an online course in programming or softw...,NaN,Java;Python;HTML;CSS,NaN,Assembly;C#;Java;JavaScript;Perl;Python;Ruby;H...,NaN,Django;Node.js;React;Torch/PyTorch,Windows,Under 18 years old,NaN
16,Pakistan,No,Not_employed,Medium,"A business discipline (ex. accounting, finance...",NaN,"Back-end developer;C-suite executive (CEO, CTO...",3-5 years,3-5 years,Taken an online course in programming or softw...,Questions & answers on Stack Overflow;Online d...,Lua;Python;SQL;HTML;CSS;Bash/Shell,NaN,Python;HTML;CSS,Django,Django;TensorFlow,Linux-based,35 - 44 years old,NaN
18,Indonesia,Yes,Not_employed,Low,NaN,NaN,"Back-end developer;C-suite executive (CEO, CTO...",3-5 years,30 or more years,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,08217000063,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,Angular;.NET Core;Django;Hadoop;Node.js;React;...,NaN,35 - 44 years old,1000000.0
20,India,Yes,Not_employed,Medium,"Another engineering discipline (ex. civil, ele...",NaN,Student,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Bangladesh,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer,0-2 years,NaN,Participated in a hackathon,NaN,Assembly;JavaScript;PHP;HTML;CSS,NaN,PHP,NaN,NaN,NaN,NaN,NaN
32,Sri Lanka,Yes,Not_employed,Medium,Web development or web design,NaN,Designer;Front-end developer;Student,0-2 years,0-2 years,Taken an online course in programming or softw...,NaN,JavaScript;HTML;CSS,250,JavaScript;HTML;CSS,Angular,Angular,Windows,18 - 24 years old,3000.0
38,Netherlands,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Netherlands,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Front-end developer;Marketi...,3-5 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,United States,No,Not_employed,Medium,"A humanities discipline (ex. literature, histo...",NaN,Front-end developer;Full-stack developer;Student,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;SQL;HTML;CSS,0,Java;JavaScript;PHP;Python;Scala;SQL;HTML;CSS;...,Angular;Node.js;React,Node.js;React,MacOS,18 - 24 years old,0.0
58,Egypt,No,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Designer;Full-stack develop...,0-2 years,NaN,NaN,NaN,HTML;CSS,NaN,JavaScript;PHP;Python;HTML;CSS,NaN,Angular;Django;Node.js;React,Windows,NaN,NaN
62,India,No,Not_employed,Medium,NaN,NaN,NaN,0-2 years,NaN,NaN,NaN,NaN,NaN,C;C#;JavaScript;SQL;HTML,NaN,Angular;.NET Core,Windows,NaN,NaN
63,Russian Federation,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,NaN,NaN,C#;Go;JavaScript,.NET Core,.NET Core,Windows,18 - 24 years old,NaN
66,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Student,3-5 years,NaN,Taken an online course in programming or softw...,NaN,C;C++;JavaScript;HTML;CSS;Bash/Shell,NaN,CoffeeScript;JavaScript;Python;HTML;CSS;Bash/S...,NaN,Angular;Node.js;React,Linux-based,18 - 24 years old,NaN
71,France,No,Not_employed,Low,NaN,NaN,Front-end developer;Student;System administrator,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Haskell;JavaScript;Rust;HTML;CSS;Bash/Shell,NaN,Assembly;C;Kotlin,Node.js,React;TensorFlow;Torch/PyTorch,Linux-based,Under 18 years old,NaN
79,Viet Nam,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,United States,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Educator or academic researcher;Front-end deve...,6-8 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C++;C#;Java;JavaScript;Python;SQL;HTML;CSS,NaN,C++;Java;Python,React,React,Windows,18 - 24 years old,NaN
92,Germany,Yes,Not_employed,Low,NaN,NaN,Student,3-5 years,NaN,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;Java;JavaScript;PHP;Python,NaN,C;C++;Go,NaN,NaN,Linux-based,18 - 24 years old,NaN
97,Colombia,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Java;JavaScript;PHP;Python;SQL;HTML;CSS;Bash/S...,NaN,Assembly;C;C++;Go;Kotlin,Django;Node.js;React,Angular;Django;Node.js;React,Windows,Under 18 years old,NaN
114,Philippines,No,Not_employed,Medium,"Information systems, information technology, o...",NaN,Back-end developer;DevOps specialist;Full-stac...,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,India,Yes,Not_employed,Medium,Web development or web design,NaN,DevOps specialist;Full-stack developer,0-2 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C;C++;HTML;CSS;Bash/Shell,NaN,C++;JavaScript;HTML;CSS;Bash/Shell,NaN,Angular;Django;Node.js;React,Linux-based,18 - 24 years old,NaN
125,United States,No,Not_employed,Medium,"A social science (ex. anthropology, psychology...",NaN,Marketing or sales professional,0-2 years,NaN,Taken an online course in programming or softw...,A college/university computer science or softw...,HTML;CSS,35000,JavaScript;Python;SQL;HTML;CSS,NaN,.NET Core;Django;Node.js;React,Windows,25 - 34 years old,35000.0
131,India,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,NaN,3-5 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,India,Yes,Not_employed,Low,NaN,NaN,Front-end developer;Student,0-2 years,0-2 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,United States,No,Not_employed,Low,NaN,NaN,Game or graphics developer;Student,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,Python,NaN,Python,NaN,NaN,MacOS,Under 18 years old,NaN
149,United States,Yes,Not_employed,Medium,"A natural science (ex. biology, chemistry, phy...",NaN,Back-end developer;Designer;Front-end develope...,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,Assembly;C++;Groovy;Java;JavaScript;Python;SQL...,NaN,C#;Groovy;JavaScript;Python;SQL;TypeScript;HTML,Angular;Node.js,Angular;Django;Node.js;Spring,Windows,18 - 24 years old,NaN
156,Belgium,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,France,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,6-8 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Jordan,Yes,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,India,No,Not_employed,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,Philippines,Yes,Not_employed,Medium,Web development or web design,NaN,Back-end developer;Data or business analyst;Da...,3-5 years,NaN,NaN,NaN,C;JavaScript;PHP;Python;HTML;CSS,NaN,C++;C#;Java;R;VB.NET;Visual Basic 6,NaN,NaN,NaN,NaN,NaN
175,Singapore,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Database administrator;Student,3-5 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C++;JavaScript;Objective-C;PHP;SQL;Swift;HTML;CSS,NaN,Java;Ruby,NaN,Node.js,MacOS,Under 18 years old,NaN
176,New Zealand,No,Not_employed,Low,NaN,NaN,Back-end developer;Desktop or enterprise appli...,0-2 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C++;C#;Go;Java;JavaScript;Lua;Objective-C;Python,NaN,Assembly;C++;CoffeeScript;Clojure;Go;JavaScrip...,Node.js,Node.js;React;Xamarin;TensorFlow,Windows,Under 18 years old,NaN
183,United States,No,Not_employed,High,"A natural science (ex. biology, chemistry, phy...",NaN,Data or business analyst;Data scientist or mac...,24-26 years,24-26 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,JavaScript;Python;Scala;SQL,NaN,JavaScript;Python;Scala;SQL,Django;Hadoop;Node.js;React;Spark,Django;Node.js;React;Spark;TensorFlow,Linux-based,55 - 64 years old,NaN
185,China,Yes,Not_employed,Medium,"Computer science, computer engineering, or sof...",NaN,Data scientist or machine learning specialist;...,3-5 years,NaN,NaN,NaN,C;C++;JavaScript;Matlab;Python;HTML;CSS;Bash/S...,NaN,C;C++;Matlab;Python,Node.js;TensorFlow,TensorFlow;Torch/PyTorch,Linux-based,NaN,NaN
186,India,No,Not_employed,Low,NaN,NaN,Student,0-2 years,NaN,Taken an online course in programming or softw...,The official documentation and/or standards fo...,NaN,NaN,Assembly;C;C++;C#;CoffeeScript;Clojure;Erlang;...,NaN,NaN,Windows,Under 18 years old,NaN
194,United States,No,Not_employed,High,"Computer science, computer engineering, or sof...",NaN,Back-end developer;Desktop or enterprise appli...,30 or more years,27-29 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,JavaScript;Python;HTML;CSS;Bash/Shell,0,Go;Haskell;JavaScript;Rust;TypeScript;Kotlin;O...,Node.js;React,Node.js;React;TensorFlow,Windows,45 - 54 years old,0.0
199,Netherlands,Yes,Not_employed,Low,NaN,NaN,Back-end developer;Data scientist or machine l...,6-8 years,0-2 years,Taken an online course in programming or softw...,The official documentation and/or standards fo...,C#;PHP;SQL,NaN,C#;Haskell;Python;Bash/Shell,NaN,NaN,Windows,18 - 24 years old,NaN

The idea is:

if salaries_train["Employment"] == "Not_employed" --> salaries_train["CompanySize"] == np.nan:
    
    then set salaries_train["CompanySize"] --> 0

In [82]:
# To be updated later #
# salaries_train[salaries_train["Employment"] == "Not_employed"][["CompanySize"]].replace(np.nan,0,inplace=True)

In [88]:
salaries_train["CompanySize"].unique()

array(['Fewer than 10 employees', nan, '10 to 19 employees',
       '100 to 499 employees', '20 to 99 employees',
       '500 to 999 employees', '1,000 to 4,999 employees',
       '5,000 to 9,999 employees', '10,000 or more employees'],
      dtype=object)

categorize by average:

- 'Fewer than 10 employees' --> 10
- '10 to 19 employees' --> 15
- '20 to 99 employees' --> 60
- '100 to 499 employees' --> 300
- '500 to 999 employees' --> 750
- '1,000 to 4,999 employees' --> 3000
- '5,000 to 9,999 employees' --> 7500
- '10,000 or more employees' --> 10000

In [91]:
salaries_train["CompanySize"].replace('Fewer than 10 employees',10,inplace=True)
salaries_train["CompanySize"].replace('10 to 19 employees',15,inplace=True)
salaries_train["CompanySize"].replace('20 to 99 employees',60,inplace=True)
salaries_train["CompanySize"].replace('100 to 499 employees',300,inplace=True)
salaries_train["CompanySize"].replace('500 to 999 employees',750,inplace=True)
salaries_train["CompanySize"].replace('1,000 to 4,999 employees',3000,inplace=True)
salaries_train["CompanySize"].replace('5,000 to 9,999 employees',7500,inplace=True)
salaries_train["CompanySize"].replace('10,000 or more employees',10000,inplace=True)

In [92]:
salaries_train.head()

,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,YearsCoding,YearsCodingProf,EducationTypes,SelfTaughtTypes,LanguageWorkedWith,Salary,LanguageDesireNextYear,FrameworkWorkedWith,FrameworkDesireNextYear,OperatingSystem,Age,ConvertedSalary
0,Greece,No,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Data or business analyst;Da...,3-5 years,0-2 years,"Taught yourself a new language, framework, or ...",The official documentation and/or standards fo...,C#;Java;Matlab;Python;SQL;HTML;CSS,510,C++;C#;Java;JavaScript;Objective-C;Perl;Python...,Spark,Angular;Django;Hadoop;Node.js;Spark;Spring;Ten...,Linux-based,18 - 24 years old,NaN
1,Nepal,Yes,Not_employed,Medium,Web development or web design,NaN,Front-end developer;Full-stack developer,3-5 years,0-2 years,Participated in a full-time developer training...,NaN,JavaScript;TypeScript,120,JavaScript;TypeScript,Angular;Node.js;React,Angular;Node.js;React,Windows,18 - 24 years old,1440.0
2,Bangladesh,No,Employed,High,"Computer science, computer engineering, or sof...",15.0,Back-end developer;Desktop or enterprise appli...,6-8 years,6-8 years,Taken an online course in programming or softw...,NaN,C++;C#;Java;JavaScript;Matlab;SQL;HTML;Bash/Shell,100000,NaN,Angular,NaN,MacOS,25 - 34 years old,14436.0
3,India,Yes,Employed,Medium,"Computer science, computer engineering, or sof...",10.0,Back-end developer;Designer;Student,3-5 years,NaN,NaN,NaN,C;PHP;HTML,NaN,Python;R,NaN,NaN,NaN,NaN,NaN
4,Czech Republic,No,Employed,Low,NaN,300.0,Back-end developer;Desktop or enterprise appli...,3-5 years,0-2 years,Received on-the-job training in software devel...,The official documentation and/or standards fo...,C;C++;C#;Java;JavaScript;Lua;PHP;Python;SQL;HT...,220,Assembly;C++;C#;Perl;Python;R;Ruby;Rust;Bash/S...,.NET Core;TensorFlow;Torch/PyTorch,.NET Core;TensorFlow,Linux-based,Under 18 years old,3228.0

In [93]:
salaries_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  200 non-null    object
 1   Student                  200 non-null    object
 2   Employment               200 non-null    object
 3   FormalEducation          200 non-null    object
 4   UndergradMajor           161 non-null    object
 5   CompanySize              136 non-null    float64
 6   DevType                  187 non-null    object
 7   YearsCoding              192 non-null    object
 8   YearsCodingProf          153 non-null    object
 9   EducationTypes           142 non-null    object
 10  SelfTaughtTypes          122 non-null    object
 11  LanguageWorkedWith       162 non-null    object
 12  Salary                   95 non-null     object
 13  LanguageDesireNextYear   150 non-null    object
 14  FrameworkWorkedWith      116 non-null    object
 15  FrameworkDesireNextYear  125 non-null    object
 16  OperatingSystem          161 non-null    object
 17  Age                      137 non-null    object
 18  ConvertedSalary          89 non-null     float64
dtypes: float64(2), object(17)
memory usage: 29.8+ KB

In [ ]:
# will deal with the null  #